@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebMvc.Models.Domain.Students
<form method="post" action="AddStudents">
    <input type="text" class="form-control" asp-for="Id" value="@Model.Id" hidden>
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="name" value="@Model.name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Number</label>
        <input type="text" class="form-control" asp-for="number"value="@Model.number">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="text" class="form-control" asp-for="password" value="@Model.password">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">TC No</label>
        <input type="text" class="form-control" asp-for="tc" value="@Model.tc">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Departman seçiniz</label>
        @Html.DropDownListFor(m=>m.FK_departmentId,(List<SelectListItem>)ViewBag.ddl,new { @class="form-control"})
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>