@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<WebMvc.Models.ViewModels.VM_Student>

<table class="table">
    <thead>
        <th>name</th>
        <th>number</th>
        <th>password</th>
        <th>tc</th>
    <th>Department Name</th>
    <th>Actions</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                    <tr>
                        <td>@item.name</td>
                        <td>@item.number</td>
                        <td>@item.password</td>
                        <td>@item.tc</td>
                        <td>@item.FK_Name</td>
                            <td>
            <a class="btn btn-danger btn-sm" href="/admin/delete?id=@item.Id">Delete</a>
                    <a class="btn btn-warning btn-sm" href="/admin/addstudents?id=@item.Id">Update</a>
                    </td>
                    </tr>
        }

    </tbody>
</table>